{% extends "_layout" %}

{% block content %}
    {# Toon entries voor de 'Home'-sectie met een limiet van 80 #}
    <section class="music-content">
        {% set homeEntries = craft.entries().section('Home').limit(80) %}
        {% for entry in homeEntries %}
            <h2>{{ entry.cat2 }}</h2>
        {% endfor %}
    </section>

    {# Toon entries voor de 'album'-sectie met een limiet van 80 #}
    <section class="music-section">
        {% set albumEntries = craft.entries().section('album').limit(80) %}
        {% for entry in albumEntries %}
            <article class="Music-feed">
                <div>
                    <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
