{% extends "_layout.twig" %}
{% block content %}
      <section class="showcase-area" id="showcase">
      </section>
      <section class="download-now">
         <h1>Discover all our music</h1>
         <div class="buttons">
            <a href="../WESHMusic/welcome.php" class="btn btn-apple"><i class="fab fa-apple"></i> App Store</a>
            <a href="../WESHMusic/welcome.php" class="btn btn-google"><i class="fab fa-google-play"></i> Google Play</a>
         </div>
      </section>
      <section id="about">
         <div class="about-wrapper container">
            <div class="about-text">
               <p class="small">Songs</p>
               <h2>New Songs</h2>
               <section class="music-home">
        {% set entries = craft.entries().section('song').limit(3) %}
        {% for entry in entries %} 
            <article class="Muu">
                <div>
                <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h3><a>{{entry.title}}</a></h3>
                    <a href="{{entry.url}}">read more</a>
                </div>
            </article>
        {% endfor %}
    </section>
            </div>

         </div>
      </section>
      <section id="about2">
         <div class="about-wrapper container">
            
            <div class="about-text">
               <p class="small">Albums</p>
               <h2>New Albums</h2>
               <section class="music-home">
        {% set entries = craft.entries().section('artist').limit(3) %}
        {% for entry in entries %} 
            <article class="Muuu">
                <div>
                <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h3><a>{{entry.title}}</a></h3>
                    <a href="{{entry.url}}">read more</a>
                </div> 
            </article>
        {% endfor %}
    </section>
            </div>
         </div>
      </section>
      <section id="about">
         <div class="about-wrapper container">
            <div class="about-text">
               <p class="small">Artists</p>
               <h2>New Artists</h2>
                <section class="music-home">
        {% set entries = craft.entries().section('album').limit(3) %}
        {% for entry in entries %} 
            <article class="Muu">
                <div>
                <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h3><a>{{entry.title}}</a></h3>
                    <a href="{{entry.url}}">read more</a>
                </div>
                
            </article>
        {% endfor %}
    </section>
            </div>
         </div>
      </section>
      
      <section id="testimonials">
         <div class="container">
            <h2 class="section-title"> Speaking artists</h2>
            <div class="testimonial-wrapper">
               <div class="testimonial">
               {% set entries = craft.entries().section('artist').limit(3) %}
        {% for entry in entries %} 
               <div class="testimonial-image">
                  <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                  </div>
                  <p class="testimonial-text">{{entry.dialog}}</p>
                  {% endfor %}
               </div>
            </div>
         </div>
      </section>
      <section id="contact">
         <form>
            <div class="form-group">
               <label for="name">Name:</label>
               <input type="text" id="name" name="name" placeholder="Your Name" required>
            </div>
            <div class="form-group">
               <label for="email">Email:</label>
               <input type="
                  email" id="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="form-group">
               <label for="message">Message:</label>
               <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
            </div>
            <button type="submit">Send Message</button>
         </form>
      </section>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="./script.js"></script>
{% endblock %}