{% extends "_layout" %}

{% block content %}
    <section class="music-content">
            {% set entries = craft.entries().section('Home').limit(80) %}
        
        {% for entry in entries %}
       <h2>{{ entry.cat1 }}
                {% endfor %}
    </section>
    <section class="music-section">
        {% set entries = craft.entries().section('song').limit(80) %}
        
        {% for entry in entries %}
            <article class="Mu">
                <div>
                    <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
                    <h2><a>{{ entry.title }}</a></h2>
                    <a href="{{ entry.url }}">Explore</a>
                </div>
            </article>
        {% endfor %}
    </section>

    <script>
        let searchInput = document.querySelector(".search");
        let songTitles = document.querySelectorAll(".music-section h2 a");

        searchInput.addEventListener("input", function (e) {
            const searchTerm = e.target.value.toLowerCase();

            songTitles.forEach(titleLink => {
                const songTitle = titleLink.textContent.toLowerCase();
                const songArticle = titleLink.closest('article');

                if (songTitle.includes(searchTerm)) {
                    songArticle.style.display = "block"; // Show the matching song
                } else {
                    songArticle.style.display = "none"; // Hide non-matching songs
                }
            });
        });
    </script>
{% endblock %}
