{% extends "_layout" %}

{% block content %}
    <section class="article-details">
        <img src="{{ entry.bannerImage.one().url('bannerImage') }}" alt="{{ entry.title }}">
        <h2>{{ entry.title }}</h2>
        {% set songs = craft.entries.section('song').relatedTo(entry).limit(40) %}
        
        <h1>Songs</h1>
        
        {% for key, songsEntry in songs %}
            <p>{{ key + 1 }}. {{ songsEntry.title }}</p>
        {% endfor %}
    </section>
{% endblock %}
